<%- include("../partials/header") %>
<% if(horarios) { %>
    <% horarios.forEach(horario => { %>
        <div class="flex-grow w-full">
            <div class="w-full px-8 py-5 flex items-center border-b">
                <div class="w-full ml-4">
                    <div class="flex justify-between items-center pl-4 text-black">
                        <span class="lg:text-xl">Horário <%- horario.horario %></span> 
                        <button class="w-8 lg:w-10 text-sm lg:text-xl rounded-md font-medium">
                            <i class="far fa-calendar-check"></i> 
                        </button>                             
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
<% }else { %>
    <div class="w-full h-full flex justify-center items-center">
        <h1 class="mx-2 text-xl lg:text-5xl text-center">
            Não há horários disponíveis para este dia
        </h1>
    </div>
<% } %>
<%- include("../partials/footer") %>